src/aga_clock-big-sound/SevenSegmentController.cpp
src/aga_clock-big-sound/SevenSegmentController.h

src/aga_clock-small-sound/SevenSegmentController.cpp
src/aga_clock-small-sound/SevenSegmentController.h

src/aga_clock-small/SevenSegmentController.cpp
src/aga_clock-small/SevenSegmentController.h
